*, *::after, *::before{
  box-sizing: border-box;
}

:root{
  --pinky: #F95456; 
  --middle: #FDFD0B; 
  --ring: #FEA82F; 
  --lindex: #0BBAF4;
  --rindex: #6fcf97;
  --violet: #770058;

  --header: 'Ubuntu', sans-serif;
  --text: 'Montserrat', sans-serif;
}

body{
  background: white url('/imgs/background.jpg') no-repeat center /cover;
  height: 100vh; 
  min-height: 1000px; 
}

#root, main{
  height: 100%;
}