*, *::after, *::before{
  box-sizing: border-box;
}

:root{
  --pinky: #F95456; 
  --middle: #FDFD0B; 
  --ring: #FEA82F; 
  --lindex: #0BBAF4;
  --rindex: #6fcf97;
  --violet: #770058;

  --header: 'Ubuntu', sans-serif;
  --text: 'Montserrat', sans-serif;
}

body{
  background: white url('/imgs/background.jpg') no-repeat center /cover;
  height: 100vh; 
  min-height: 1000px; 
}

#root, main{
  height: 100%;
}

h1{
  font-family: var(--header);
  font-weight: 700;
  font-size: 2rem; 
  color: white; 
  margin: 0;
  padding: 0;
}

h3{
  font-family: var(--header);
  font-weight: 500;
  font-size: 1.5rem; 
  margin: 0;
  padding: 0;
}